<form class="chat-form">
  <label>
    Type message

    <input type="text" name="message" />
  </label>

  <input type="submit" value="Submit message" />
</form>

<div class="message-container">
</div>
