<%= form_tag action: :name_login do %>
  <label>
    What is your name

    <br /><br />

    <%= text_field_tag :username %>

    <br /><br />
  </label>

  <%= submit_tag "start chatting!" %>
<% end %>
